.add-post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.add-comment-form , .post-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div label, input{
    margin: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    
}

.post-class p {
    margin: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}